/***************************************
GENERAL
****************************************/

#wrapper {
	max-width: 940px;
	margin:0 auto;
	padding: 0 5%;
}

a {
	text-decoration: none;
}

input {
	border: 3px solid #cccccc;
	border-radius: 5px;
	padding: 5px;
	max-width: 100%;
}



/***************************************
HEADING
****************************************/

header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}

#logo {
	text-align: center;
	margin: 0;
}

h1 {
	margin: 0;
	font: 'ff-Speak-Web', sans-serif;
	font-width: normal;
	font-size: 4em;
	line-height: 1.5em;
	text-align: center;
}

h2 {
	margin: 0;
	font: 'ff-effra', sans-serif;
	font-width: normal;
	font-size: 1.25em;
	line-height: 1.5em;
	text-align: center;
}



/***************************************
FOOTER
****************************************/

footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
}



/***************************************
PAGE: START
****************************************/

p {
	position: relative;
	margin: 0 0 3em 0;
	
}

p {	font-family: 'ff-effra', sans-serif;
	line-height: 1.5em;
	text-align: center;	
}

#today {	
	font-size: 2em;
	line-height: 1.5em;
}

.task {
	display: block;
	font-size: 1.5em;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.5em;
}

#hint {
	font-family: font: 'ff-effra', sans-serif;
	font-size: 1.5em;
	left: 105px;
	top: 25px;
	line-height: 1.5em;
}

input[type="start"] {
	background: #2e80b9;
  	box-shadow: 0 3px 0 0 #1D3C6A;
	border-radius: 5px;
 	border: none;
 	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 1.5em;
 	line-height: 1.5em;
	margin: 2em 0 0;
	outline: none;
	padding: .8em 0;
	width: 8em;
	text-align: center;	
	margin-left: auto;
	margin-right: auto;
}



/***************************************
COLORS
****************************************/

/* site body */
body {
	background-color: #fff;
	color: #999;
}

/* blue header */
header {
	background: #fff;
	border-color: #fff;
}

/* nav background on mobile */
nav {
	background: #17405C;
}

/* logo text */
h1, h2 {
	color: #2e80b9;
}

/* input */


/* footer */
footer {
color: #ccc;
}